/* Blog 页面所有字体位置、颜色、大小、控制 */


	h1, h2, h3, h4, h5, h6, p, a {	 font-family: Georgia, "Mingliu", "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", "MS Sans Serif", "Comic Sans MS", sans-serif; }	

	h1, h2, h3, h4, h5, h6 {	 text-align:center; }

	p { font-size:20px;	}
	
	*{ padding:0; margin:0; list-style:none; }

	.menu{ width:550px; height:30px; margin:100px auto; padding-left:10px; }
	.menu li{ width:100px; height:30px; line-height:30px; text-align:center; float:left; margin-right:10px; _display:inline; position:relative }
	.menu ul{ position:absolute; left:0; top:30px; display:none; } 