/* Blog 页面所有字体位置、颜色、大小、控制 */


	h1, h2, h3, h4, h5, h6, p, a {	 font-family: Georgia, "Mingliu", "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", "MS Sans Serif", "Comic Sans MS", sans-serif; }	

	h1, h2, h3, h4, h5, h6 {	 text-align:center; }

	p { font-size:20px;	}