/* 面包屑导航菜单 */

/* 如果想要 Bootstrap 的面包屑导航，请将类选择器的属性值 nbtsp-breadcrumb 修改为 breadcrumb */

	ul.nbtsp-breadcrumb {
	  margin-left: 5%;    /* 改变字体图标组与浏览器左边间距 */
	  display: inline-block;
	  list-style: none;
	}

	ul.nbtsp-breadcrumb li {
	  float: right;
	  padding: 10px;      /* 改变字体图标左右间距 */
	  background-color: #59a386;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -o-border-radius: 50%;
	  border-radius: 50%;
	  position: relative;
	  margin-left: -50px;
	  -webkit-transition: all 0.2s;
	  -moz-transition: all 0.2s;
	  -o-transition: all 0.2s;
	  transition: all 0.2s;
	  margin-top: 3px;
	}

	ul.nbtsp-breadcrumb li a {
	  overflow: hidden;    /* 决定字符图标说明文字的隐藏与否 */
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -o-border-radius: 50%;
	  border-radius: 50%;
	  -webkit-transition: all 0.2s;
	  -moz-transition: all 0.2s;
	  -o-transition: all 0.2s;
	  transition: all 0.2s;
	  text-decoration: none;
	  height: 100px;     /* 改变面包屑的高度 */
	  color: #509378;   /* 改变字符图标的颜色 */
	  background-color: #65ba99;    /* 改变字符图标的背景颜色 */
	  text-align: center;
	  min-width: 100px;   /* 改变每个图标的横向间距 */
	  display: block;
	  line-height: 100px;    /* 改变图标的垂直位置 */
	  padding-left: 60px;    /* 控制每个字符图标往右多少 */
	  padding-right: 33.33333px;
	  width: 100%;    /* 改变面包屑菜单选项当鼠标停留时展开的宽度 */
	}

	ul.nbtsp-breadcrumb li a .icon {
	  display: inline-block;
	}

	ul.nbtsp-breadcrumb li a .text {
	  display: none;
	  opacity: 0;
	}

	ul.nbtsp-breadcrumb li a:hover {
	  width: 200px;     /* 改变每个图标展开后的横向宽度 */
	  background-color: #77c2a5;    /* 改变每个图标展开后的背景颜色 */
	}

	ul.nbtsp-breadcrumb li a:hover .text {
	  display: inline-block;    /* 控制鼠标停留在菜单上字体的出现与否 */
	  opacity: 1;
	}

	ul.nbtsp-breadcrumb li:last-child a {
	  padding: 0;    /* 控制第一个字符图标当鼠标停留时左侧空白的宽度 */
	}

	ul.nbtsp-breadcrumb li:last-child:hover {
	  padding: 10px;    /* 控制鼠标移动到第一个字符图标时 该图标的往上多少 */
	  margin-top: 2px;     /* 控制鼠标移动到第一个字符图标时 该图标往下多少 */
	}

	ul.nbtsp-breadcrumb li:last-child:hover a {
	  width: 100px;     /* 控制第一个字符图标当鼠标停留时展开的宽度 */
	  height: 100px;     /* 控制第一个字符图标当鼠标停留时展开的高度 */
	  line-height: 100px;      /* 控制第一个字符图标当鼠标停留时内部字体往下多少 */
	}
