---
layout: backbone
title: Li's Resume ( 中文 ) @lamChuanJiang
---

<h2>个人简历    
<a href="/resume_en.html">
<button type="button" class="btn btn-success btn-lg" style="text-shadow: black 5px 3px 3px;font-size: 16px;color: rgb(255,255,255);">
<i class="fa  fa-hand-o-right"></i> Swith to English</button></a></h2>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-bookmark"></i> 个人资料</h3>
<p><i class="fa fa-asterisk"></i> 
<strong>姓名、性别、年龄 ：</strong>黎川江、男、1994-03-09。</p>
<p><i class="fa fa-asterisk"></i> 
<strong>毕业院校、专业、时间 ：</strong>安徽科技学院、电子信息工程专业，2016 年应届本科毕业生。</p>
<p><i class="fa fa-asterisk"></i> 
<strong>是否就职 ：</strong>目前我尚未就职，但我期待着一个吸引我的工作机会。</p>
<p><i class="fa fa-asterisk"></i> 
<strong>职业目标 ：</strong>15 年内，尽我所能，向全栈开发者靠近，用一生去成为一个真正的程序员。</p>
<p>（<em> 查看我的更多信息 : </em><a href="/about_li_zh.html">关于我 </a>）</p></div>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-phone"></i> 联系方式</h3>
<p><i class="fa fa-asterisk"></i> 
<strong>手机 ：</strong><a href="tel:18365263544">183-6526-3544</a></p>
<p><i class="fa fa-asterisk"></i> 
<strong>邮箱 ：</strong><a href="mailto:lamchuanjiang@icloud.com">lamchuanjiang@icloud.com</a> or 
<a href="mailto:lamchuanjiang@outlook.com">lamchuanjiang@outlook.com</a> or 
<a href="mailto:lamchuanjiang@gmail.com">lamchuanjiang@gmail.com</a></p>
<p>（更多联系方式和 SNS : <a href="/contact_li.html">联系方式和社交足迹 </a>）</p></div>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-send-o"></i> 求职意向</h3>
<p><i class="fa fa-asterisk"></i> 
<strong>求职地点 ：</strong>广州 &gt; 深圳 &gt; 上海 &gt; 重庆</p>
<p><i class="fa fa-asterisk"></i> 
<strong>求职岗位 ：PHP 初级开发工程师</strong></p>
<p><i class="fa fa-asterisk"></i> 
<strong>求职类型 ：</strong><i class="label label-default">实习</i>
<i class="label label-default">经验应届毕业生</i></p>
<p><i class="fa fa-asterisk"></i> 
<strong>对公司的期望 ：</strong>技术驱动，共同成长。</p>
<p><i class="fa fa-asterisk"></i> 
<strong>期望<u>实习</u>薪水 ：</strong>3k+</p>
<p>
<i class="fa fa-bullhorn"></i> 我目前正在寻找 PHP Web 开发的相关职位，养兵千日，用兵一时，应届新兵，整装待发，初入职场，希望同行多多指教！ </p></div>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-star"></i> 主要能力</h3>
<p><i class="fa fa-asterisk"></i> 
<strong>编程基础 ：</strong>熟悉常用数据结构和基本算法，具有逐渐丰富的编程思想；熟悉 HTTP、TCP/IP；熟悉 SQL</p>
<p><i class="fa fa-asterisk"></i> 
<strong>按编程方向 ：</strong>Web 后端、LNMPA 栈</p>
<p><i class="fa fa-asterisk"></i> 
<strong>按编程语言 ：</strong>C、PHP、Javascript、Java</p>
<p><i class="fa fa-asterisk"></i> 
<strong>外语能力 ：</strong>英语，CET4/CET6 中级水平，能流畅阅读英语手册、技术书籍，理解力较强但听力较弱</p>
<p>
<strong>（查看我的所有技能点： 
<i class="fa fa-hand-o-right"></i>
<a href="/skills.html">技能点 </a> 
<i class="fa fa-hand-o-left"></i>）</strong></p></div>

<h3 class="alert alert-success"><i class="fa fa-list-ol"></i> 项目经验</h3>

{% include projects/mini-ocs_zh.html %}
{% include projects/mini-mvc-framework_zh.html %}
{% include projects/tank-battle_zh.html %}
{% include projects/homepage_blog_zh.html %}
{% include projects/webchat_zh.html %}

<p class="content_font">（源码及更多案例详见： <i class="fa fa-hand-o-right"></i> 
<a href="https://github.com/lamChuanJiang/LBD/" target="_blank"><b>GitHub</b></a>）</p>

<div class="content_font">
<h3 class="alert alert-success">
<i class="fa fa-heart"></i> 自我评价</h3>
<p>
<i class="fa fa-heart"></i> 计算机学科基础较好，注重编程思想的培养，重视编程本质，熟悉常用数据结构和基本算法；熟悉计算机网络；熟悉 SQL。</p>
<p>
<i class="fa fa-heart"></i> 对编程充满激情和耐心，享受 Coding 带来的乐趣和挑战。</p>
<p>
<i class="fa fa-heart"></i> 谦虚好学，探索学习效率和方法，践行 Learn by doing。</p>
<p>
<i class="fa fa-heart"></i> 具有较强的抗压、抗打击、抗负能量能力，推崇以简约优美的姿势解决问题。</p>
<p>
<i class="fa fa-heart"></i> 兴趣广泛，热爱 Web，热爱 Git/GitHub，热爱网络，热爱信息时代，热爱开源。</p>
<p>
<i class="fa fa-heart"></i> 乐观、合群、偶尔很幽默、自制力强、个性自由但不放纵。</p></div>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-eye"></i> 其他</h3>
<p><i class="label label-default">说明</i> C、PHP、Java 是我使用较多的语言，但我不希望将自己限死在某种语言之上，不同的语言只是对同一个问题不同（或者说相对而言更合适）的解决思路。我有自信能在较短的时间内上手项目需要使用而未曾学习过的编程语言，如果时间充裕，并且精力足够，我也很乐意吸收不同语言的，优秀的编程思想。</p>
<p>
<i class="label label-default">仅供参考</i> <em>大学期间获得证书 : CET4、CET6、NCRE-C 语言二级、NCRE-计算机网络三级、Freescale 智能车校级三等。</em></p></div>

<p class="content_font" style="text-align:center;margin-top:50px;text-size:26px;"><b><code><i class="fa fa-heart"></i> 感谢您花时间阅读我的简历，期待能有机会和您共事！<i class="fa fa-heart"></i></code></b></p>
