---
layout: backbone
title: Li's Resume ( English ) @lamChuanJiang
---

<h2>Li's Resume    
<a href="/resume_zh.html">
<button type="button" class="btn btn-success btn-lg" style="text-shadow: black 5px 3px 3px;font-size: 14px;color: rgb(255,255,255);">
<i class="fa  fa-hand-o-right"></i> 切至中文</button></a></h2>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-bookmark"></i> Profile</h3>
<p><i class="fa fa-asterisk"></i> 
<strong>Name、Gender、Age ：</strong>Chuanjiang Li, male, 1994-03-09.</p>
<p><i class="fa fa-asterisk"></i> 
<strong>University、Major、Time ：</strong>Anhui Science and Technology University, Electronic Information Engineering, A fresh graduate in 2016.</p>
<p><i class="fa fa-asterisk"></i> 
<strong>On board or not ：</strong>Not employed yet but I expect meeting an attractive job opportunity.</p>
<p><i class="fa fa-asterisk"></i> 
<strong>Long-term Career Goal ：</strong> Be close to a Full-Stack developer to the fullest in 15 years, a life-time to be a real programmer.</p>
<p>（<em> More Information : </em><a href="/about_li_zh.html">About </a>）</p></div>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-phone"></i> Contacts</h3>
<p><i class="fa fa-asterisk"></i> 
<strong>Phone : </strong><a href="tel:18365263544">183-6526-3544</a></p>
<p><i class="fa fa-asterisk"></i> 
<strong>E-mail : </strong><a href="mailto:lamchuanjiang@icloud.com">lamchuanjiang@icloud.com</a> or 
<a href="mailto:lamchuanjiang@outlook.com">lamchuanjiang@outlook.com</a> or 
<a href="mailto:lamchuanjiang@gmail.com">lamchuanjiang@gmail.com</a></p>
<p>（<em> More Contacts & SNS Footprints : </em><a href="/contact_li.html">Contacts </a>）</p></div>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-send-o"></i> Job Intention</h3>
<p><i class="fa fa-asterisk"></i> 
<strong>Job Location ：</strong>Guangzhou &gt; Shanghai</p>
<p><i class="fa fa-asterisk"></i> 
<strong>Job Direction ：PHP Web backend Developer</strong></p>
<p><i class="fa fa-asterisk"></i> 
<strong>Job Type ：</strong><span class="label label-default">Full Time( Campus Recruitment Can be on board after Spring Festival )</span>
<span class="label label-default">Graduate with some Experience</span></p>
<p><i class="fa fa-asterisk"></i> 
<strong>Expectation to company ：</strong>Tech Driven, Growing Together.</p>
<p><i class="fa fa-asterisk"></i> 
<strong>Expecting Salary ：</strong>3.5k+( Guangzhou ) ; 4k+( Shanghai )</p>
<p>
<i class="fa fa-bullhorn"></i> Now I am seeking for a PHP back-end web developing-related position. Maintain an army for a thousand days to use it for an hour, as a totally fresh fish, I am itching for the chance to work with excellent co-workers and learn from them, please to very much advise.</p></div>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-star"></i> Abilities</h3>
<p><i class="fa fa-asterisk"></i> 
<strong>Programming Basis : </strong>Acquainted with often used data structure and basic algorithm, SQL, and HTTP, TCP/IP Internet protocol; Trend of thinking in computer.</p>
<p><i class="fa fa-asterisk"></i> 
<strong>Classified by Direction : </strong>Web developing( Back-end will be better )、programming on Linux、LAMP/LNMP stack.</p>
<p><i class="fa fa-asterisk"></i> 
<strong>Classified by Language : </strong>C、PHP、Javascript、Java</p>
<p><i class="fa fa-asterisk"></i> 
<strong>English Level : </strong>Medium-level CET4/CET6 , have the ability of smoothly reading English manual and technical books.Well, good at reading comprehension, but weak in listening.</p>
<p>（
<strong>All Skills 
<i class="fa  fa-hand-o-right"></i> 
<a href="/skills.html">Skill Tags </a> 
<i class="fa  fa-hand-o-left"></i>）</strong></p></div>

<h3 class="alert alert-success"><i class="fa fa-list-ol"></i> Experience</h3>

{% include projects/mini-ocs_en.html %}
{% include projects/mini-mvc-framework_en.html %}
{% include projects/tank-battle_en.html %}
{% include projects/homepage_blog_en.html %}
{% include projects/webchat_en.html %}

<p class="content_font">（Source code and more projects please see: <i class="fa fa-hand-o-right"></i> 
<a href="https://github.com/lamChuanJiang/LBD/" target="_blank"><b>GitHub</b></a>）</p>

<div class="content_font">
<h3 class="alert alert-success">
<i class="fa fa-heart"></i> Self-Evaluation</h3>
<p>
<i class="fa fa-heart"></i> With a relatively better computer science basis; Acquainted with often used data structure and basic algorithm, SQL, and TCP/IP Internet protocol; Attaching importance to thinking in computer.</p>
<p>
<i class="fa fa-heart"></i> Be very passional to programming, enjoy Coding's fun and challenge.</p>
<p>
<i class="fa fa-heart"></i> I am humble and have enthusiasm on getting knowledge, hava interseting on learning methods research, love self-study free; Learn by doing.</p>
<p>
<i class="fa fa-heart"></i> Have a relatively stronger abilities of anti-pressure. anti-attack, anti-negative-energy; Praise highly of fix issues, or solve problems  in a good grace and a simple way.</p>
<p>
<i class="fa fa-heart"></i> Have a wide range of intersets, like programming, Git/GitHub, Web, IT, etc.Open Source supporter.</p>
<p>
<i class="fa fa-heart"></i> Optimistic, gregarious, sometimes a little bit of  humorous, strong self-control, free personality but not indulgence.</p></div>

<div class="content_font">
<h3 class="alert alert-success"><i class="fa fa-eye"></i> Others</h3>

<p>
<i class="label label-default"> PS</i> C、PHP、Java are my most often used programming languages, however, I don't expect to be limited at a specific language, since different languages are the same problem's different (or, a relatively better) solution. I have the confidence to be familar with the on-demand but I never used languages in a comparatively short time. And if time and energy allows, I am so glad to learn the outstanding programming thoughts of different programming  languages.</p>

<p>
<i class="label label-default"> Reference Only</i> <em>Certificates in University: CET4、CET6、level 2 NCRE C、level 3 NCRE computer network 、Third prize of  school level Freescale Intelligent vehicle, etc.</em></p></div>

<p class="content_font" style="text-align:center;margin-top:50px;text-size:26px;"><b><code><i class="fa fa-heart"></i> Thanks for the time you spent in my resume  <i class="fa fa-heart"></i></code></b><p class="content_font" style="text-align:center;margin-top:50px;text-size:26px;"><b><code><i class="fa fa-heart"></i> Expecting the precious chance to work with you! <i class="fa fa-heart"></i></code></b></p>
