<!-- 项目 5 开始 注意修改 data-target 的对应值-->

<div id="mini-ocs">
<blockquote>
<span class="fa fa-flag"></span>
<span class="label label-info">
2015-12-( 25, 26 )</span>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal5">Mini Online Comment System( Back-end )</button></blockquote></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<em>Tags</em>  
<span class="label label-success">PHP</span>
<span class="label label-default">MySQL</span>
<span class="label label-info">AJAX</span></div>
<div class="modal-body">
<div class="modal-title" id="myModalLabel5"></div> 
<p>
<span class="label label-default">Link</span>
<button type="button" class="btn btn-default">
It open-sourced on ：<a href="https://github.com/ckwongloy/LBD/tree/master/mini-ocs" target="_blank"><b>GitHub</b></a></button></p>
<span class="label label-default">Description</span><br><br>
<p>1. A mini type online comment component, developed by PHP and MySQL, what it realize is comment or messages leaving.</p>
<p>2. Filtering illegal input data submit by users: by HTML5 built-in properties like <code>email</code> and <code>url</code>, etc. Besides, in the backend, also use PHP method <code>filter_input()</code> to do the same thing as an alternative.</p>
<p>3. AJAX: Makes errors reporting just in time, and output latest comments when user finish it successfully without refresh webpage.</p></div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>

<!-- 项目 5 结束 -->
