<!-- 项目 5 开始 注意修改 data-target 的对应值-->

<div id="mini-ocs">
<blockquote>
<span class="fa fa-flag"></span>
<span class="label label-info">
2015-12-( 25, 26 )</span>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal5">小型在线评论/留言系统( 后台 )</button></blockquote></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<em>项目标签</em>  
<span class="label label-success">PHP</span>
<span class="label label-default">MySQL</span>
<span class="label label-info">AJAX</span></div>
<div class="modal-body">
<div class="modal-title" id="myModalLabel5"></div> 
<p>
<span class="label label-default">项目地址</span>
<button type="button" class="btn btn-default">
项目开源，源代码托管在：<a href="https://github.com/lamChuanJiang/LBD/tree/master/mini-ocs" target="_blank"><b>GitHub</b></a></button></p>
<span class="label label-default">功能摘要</span><br><br>
<p>1. Mini 版在线评论组件，一个简单的 PHP+MySQL 小项目，实现的是在线评论/留言功能。</p>
<p>2. 非法输入过滤：HTML5 自带属性 + PHP 内置的过滤器 <code>filter_input()</code> 对用户输入的信息进行过滤。</p>
<p>3. Ajax：实时出错提示以及评论成功后无刷新输出最新评论。</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></div></div></div></div>

<!-- 项目 5 结束 -->
