<!-- 项目 3 开始 注意修改 data-target 的对应值-->

<div id="mini-mvc-framework">
<blockquote>
<span class="fa fa-flag"></span>
<span class="label label-info">
2015-12-( 10, 12 )</span>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">Mini MVC Framework</button></blockquote></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<em>Tags</em>  
<span class="label label-success">PHP</span>
<span class="label label-default">MVC</span>
<span class="label label-default">Design Pattern</span>
<span class="label label-info">Framework</span></div>
<div class="modal-body">
<div class="modal-title" id="myModalLabel3"></div> 
<p>
<span class="label label-default">Link</span>
<button type="button" class="btn btn-default">
It open-sourced on：<a href="https://github.com/ckwongloy/LBD/tree/master/mini-mvc-framework" target="_blank"><b>GitHub</b></a></button></p>
<span class="label label-default">Description</span><br><br>
<p>1. This is a simple PHP framework based on MVC, and I developed it strictly obey MVC design pattern.</p>
<p>2. Part of thinkings are the mimicries from Yii framework, like URL rewrite，invoke the methods of controllers in a style of <code>r=controller/action</code>.</p>
<p>3. Besides MVC, I also adopted the Factory design pattern in this try, of course, coding with OOP style as often as possible.</p>
<p>4. Blog article：<i><a href="programming/write-a-mini-mvc-framework.html" target="_blank">Write a mini MVC framework with PHP</a></i></p></div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>

<!-- 项目 3 结束 -->
