<!-- 项目 3 开始 注意修改 data-target 的对应值-->

<div id="mini-mvc-framework">
<blockquote>
<span class="fa fa-flag"></span>
<span class="label label-info">
2015-12-( 10, 12 )</span>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">基于 MVC 的小型 PHP 框架</button></blockquote></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<em>项目标签</em>  
<span class="label label-success">PHP</span>
<span class="label label-default">MVC</span>
<span class="label label-default">设计模式</span>
<span class="label label-info">框架</span></div>
<div class="modal-body">
<div class="modal-title" id="myModalLabel3"></div> 
<p>
<span class="label label-default">项目地址</span>
<button type="button" class="btn btn-default">
项目开源，源代码托管在：<a href="https://github.com/ckwongloy/LBD/tree/master/mini-mvc-framework" target="_blank"><b>GitHub</b></a></button></p>
<span class="label label-default">功能摘要</span><br><br>
<p>1. 一个基于 MVC 的 PHP 基本框架，严格按 MVC 模式开发。</p>
<p>2. 模仿 Yii 框架的部分设计，比如 URL 伪静态，<code>r=控制器/操作</code> 方式调用。</p>
<p>3. 同时采用工厂模式开发，面向对象设计风格。</p>
<p>4. 博文分析：<i><a href="programming/write-a-mini-mvc-framework.html" target="_blank">写一个基于 MVC 的微型框架</a></i></p></div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></div></div></div></div>

<!-- 项目 3 结束 -->
