<!-- 项目 4 开始 注意修改 data-target 的对应值-->

<div id="tank-battle">
<blockquote>
<span class="fa fa-flag"></span>
<span class="label label-info">
2015-08-( 03, 07 )</span>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal4">仿坦克大战游戏</button></blockquote></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<em>项目标签</em>  
<span class="label label-success">Java SE</span>
<span class="label label-default">面向对象</span>
<span class="label label-default">文件流</span>
<span class="label label-info">Swing</span></div>

<div class="modal-body">
<div class="modal-title" id="myModalLabel4"></div> 
<p>
<span class="label label-default">项目地址</span>
<button type="button" class="btn btn-default">
项目开源，源代码托管在：<a href="https://github.com/lamChuanJiang/LBD/tree/master/tank-battle/src" target="_blank"><b>GitHub</b></a></button></p>
<span class="label label-default">功能摘要</span><br><br>
<p>1. 一个简单的仿经典的坦克大战游戏，采用 Java 编写。</p>
<p>2. 子弹连发；敌军坦克方向随机，我军坦克玩家控制；爆炸效果；暂停和继续；成绩记录；</p>
<p>3. Swing 绘图技术、事件机制、Java 文件编程（流）、面向对象设计风格。</p>
<p>4. 在 Eclipse IDE 下完成开发，基本熟练 Eclipse 的操作。</p></div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></div></div></div></div>

<!-- 项目 4 结束 -->
