<!-- 项目 4 开始 注意修改 data-target 的对应值-->

<div id="tank-battle">
<blockquote>
<span class="fa fa-flag"></span>
<span class="label label-info">
2015-08-( 03, 07 )</span>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal4">Tank Battle</button></blockquote></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<em>Tags</em>  
<span class="label label-success">Java SE</span>
<span class="label label-default">OOP</span>
<span class="label label-default">FileStream</span>
<span class="label label-info">Swing</span></div>

<div class="modal-body">
<div class="modal-title" id="myModalLabel4"></div> 
<p>
<span class="label label-default">Link</span>
<button type="button" class="btn btn-default">
It open-sourced on：<a href="https://github.com/ckwongloy/LBD/tree/master/tank-battle/src" target="_blank"><b>GitHub</b></a></button></p>
<span class="label label-default">Description</span><br><br>
<p>1. It's a simple game and a mimicry of the classic Tank Battle, write with Java.</p>
<p>2. Firing bullets; Enemy tanks move randomly and army tanks' directions are controlled by the player; Explosions; Pause and Continue; Records, etc.</p>
<p>3. Graphic tech with Swing; Event Class; Java file programming( flow ); OOP, etc.</p>
<p>4. Finish this project in Eclipse IDE, and basiclly familiar with it.</p></div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>

<!-- 项目 4 结束 -->
