<!-- 项目 2 开始 注意修改 data-target 的对应值-->

<div id="webchat">
<blockquote>
<span class="fa fa-flag"></span>
<span class="label label-info">
2015-04-( 11, 18 )</span>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">小型网页聊天系统( 后台 )</button></blockquote></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<em>项目标签</em>  
<span class="label label-success">PHP</span>
<span class="label label-default">MVC</span>
<span class="label label-warning">Ajax</span>
<span class="label label-warning">MySQL</span>
<span class="label label-info">分页</span></div>
<div class="modal-body">
<div class="modal-title" id="myModalLabel2"></div> 
<p>
<span class="label label-default">项目地址</span>
<button type="button" class="btn btn-default">
项目开源，源代码托管在：<a href="https://github.com/ckwongloy/LBD/tree/master/web-chat" target="_blank"><b>GitHub</b></a></button></p>
<span class="label label-default">功能摘要</span><br><br>
<p>1. 一个很简易的网页聊天系统，采用 PHP + MySQL，尝试按照 MVC 模式开发。</p>
<p>2. 主要实现技术是 <b>Ajax</b>，通过 Ajax 与服务器异步交换数据，用在了即时聊天，登录和注册时的无刷新验证。</p>
<p>3. 在对注册和登录用户合法性进行校验的时候用到了 <b>正则表达式</b>，以及 <b>验证码</b> ，都是使用 PHP 方法。</p>
<p>4. 在显示用户信息的界面设计并实现了一个比较漂亮的<b>分页</b>，用于美观地显示从 MySQL 中查询到的用户信息。</p></div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button></div></div></div></div>

<!-- 项目 2 结束 -->
