<!-- 项目 2 开始 注意修改 data-target 的对应值-->

<div id="webchat">
<blockquote>
<span class="fa fa-flag"></span>
<span class="label label-info">
2015-04-( 11, 18 )</span>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">WebChat</button></blockquote></div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
<em>Tags</em>  
<span class="label label-success">PHP</span> 
<span class="label label-default">MVC</span>
<span class="label label-warning">Ajax</span>
<span class="label label-warning">MySQL</span>
<span class="label label-info">Paganation</span></div>

<div class="modal-body">
<div class="modal-title" id="myModalLabel2"></div> 
<p>
<span class="label label-default">Link</span>
<button type="button" class="btn btn-default">
It open-sourced on <a href="https://github.com/lamChuanJiang/LBD/tree/master/WebChat" target="_blank"><b>GitHub</b></a></button></p>
<span class="label label-default">Description</span><br><br>
<p>1. A simple online web chat system， <b>PHP</b> + <b>MySQL</b> + <b>MVC</b>。</p>
<p>2. Use <b>Ajax</b> to exchange data with server asynchronously, and this mainly used in instant message and login, register process, providing legal check without page refreshing.</p>
<p>3. Use regex expressions to verify the legality of user's input information when login and registering.Besides, <b>checkcode</b> also applied in login and register process. Both of them are used PHP methods.</p>
<p>4. Implemented a relatively pretty <b>pagination</b> bar in the userinfo display page, It works and looks great to show the messages select from MySQL。</p></div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>

<!-- 项目 2 结束 -->
