<div style="float:none;">
<header class="site-header">
<section class="page-header" style="font-family:Georgia;">
<h1 class="project-name" style="font-family:'Comic Sans MS';">
Quieter you be
<a href="/blog.html" title="Blog Entry">
<img src="/image/love.png" style="width:80px;height:60px;border-radius:100%;text-align:center"></a>
More you hear
</h1>
<h2>
<span style="font-size:40px;">
<a href="/home/" class="btn" title="Home">
<i class="fa fa-home"></i></a>
<a href="/category.html" class="btn" title="Categories">
<i class="fa fa-folder"></i></a>
<a href="/archive.html" class="btn" title="Archives">
<i class="fa fa-archive"></i></a>
<a href="/tag.html" class="btn" title="Tags">
<i class="fa fa-tags"></i></a>
<a href="/about_blog.html" class="btn"  title="About">
<i class="fa fa-info-circle"></i></a></span>
<span style="padding-left:1em;">
<a href="/start.html" class="btn" title="Start" target="_blank">
<i class="fa fa-map-signs"></i></a>
<a href="/skills.html" class="btn" title="Skills" target="_blank">
<i class="fa fa-code"></i></a>
<a href="/contact_li.html" class="btn" title="Contacts" target="_blank">
<i class="fa fa-envelope"></i></a>
<a href="/resume_zh.html" class="btn" title="Resume" target="_blank">
<i class="fa fa-user"></i></a>
<a href="https://github.com/lamChuanJiang" class="btn" title="GitHub" target="_blank">
<i class="fa fa-github"></i></a>
<a href="https://github.com/lamChuanJiang/lamchuanjiang.github.io/wiki" class="btn" title="Pointer" target="_blank">
<i class="fa fa-hand-pointer-o"></i></a></span></h2></section></header></div>
