<head>

<meta charset="utf-8">
<meta name="Keywords" content="lamChuanJiang, Chuanjiang Li.">
<meta name="Description" content="Quiter you be, more you hear. @lamChuanJiang.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 移动设备支持待改进 -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<link rel="shortcut icon" href="/image/love.ico">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/github-light.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/stylesheet.css">

<style type="text/css">

	/* Back to top*/

	#back-to-top {
		font-size: 100px;
		position: fixed;
		bottom: 10em;
		right: 5px;
		text-decoration: none;
		color: #F7F6F6;
		background-color: #D9AC8B;
		font-size: 16px;
		padding: 1em;
		display: none;
	}

	#back-to-top:hover {
		color: #D9AC8B;
		background-color: #F7F6F6;
	}
</style>

</head>
