<head>

    <meta charset="utf-8">
    <meta name="Keywords" content="lamChuanJiang, Chuanjiang Li.">
    <meta name="Description" content="Quiter you be, more you hear. @lamChuanJiang.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 移动设备支持待改进 -->
    <!-- <meta name="viewport" content="width=device-width"> -->

    <title>
        {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>

    <link rel="shortcut icon" href="/assets/image/love.ico">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/github-light.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <link rel="stylesheet" href="/assets/css/jump-to.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">

</head>
