<head>

<meta charset="utf-8">
<meta name="Keywords" content="lamChuanJiang, Chuanjiang Li.">
<meta name="Description" content="Quiter you be, more you hear. @lamChuanJiang.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- 移动设备支持待改进 -->
<!-- <meta name="viewport" content="width=device-width"> -->

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<link rel="shortcut icon" href="/image/love.ico">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/github-light.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/stylesheet.css">

<style type="text/css">

	/* Back to top*/

	#back-to-top {
		font-size: 60px;
		position: fixed;
		bottom: 7em;
		right: 1px;
		text-decoration: none;
		color: #1F2453;
		/*background-color: #D9AC8B;*/
		padding: 1em;
		display: none;
	}

	#back-to-top:hover {
		font-size: 60.5px;
		color: #BFD9DB;
		/*background-color: #F7F6F6;*/
	}
</style>

</head>
