<span style="font-size:25px;">
    <a href="/home/" class="btn" style="margin-top:15px;" title="Home">
        <i class="fa fa-home"></i>
    </a>
    <a href="/home/category.html" class="btn" title="Categories">
        <i class="fa fa-folder"></i>
    </a>
    <a href="/home/archive.html" class="btn" title="Archives">
        <i class="fa fa-archive"></i>
    </a>
    <a href="/home/tag.html" class="btn" title="Tags">
        <i class="fa fa-tags"></i>
    </a>
    <a href="/home/about.html" class="btn" title="About This Blog">
        <i class="fa fa-info-circle"></i>
    </a>
</span>

<span style="padding-left:50px;">
    <a href="/index.html" class="btn" title="Start" target="_blank">
        <i class="fa fa-map-signs"></i>
    </a>
    <a href="/skills.html" class="btn" title="Skills" target="_blank">
        <i class="fa fa-code"></i>
    </a>
    <a href="/contact_li.html" class="btn" title="Contacts" target="_blank">
        <i class="fa fa-envelope"></i>
    </a>
    <a href="/resume_zh.html" class="btn" title="Resume" target="_blank">
        <i class="fa fa-user"></i>
    </a>
    <a href="https://github.com/ckwongloy" class="btn" title="GitHub" target="_blank">
        <i class="fa fa-github"></i>
    </a>
    <a href="https://github.com/ckwongloy/ckwongloy.github.io/wiki" class="btn" title="Pointer" target="_blank">
        <i class="fa fa-hand-pointer-o"></i>
    </a>
</span>
