<head>

    <meta charset="utf-8">
    <meta name="Keywords" content="ckwongloy, Chuanjiang Li">
    <meta name="Description" content="Keep it simple, stupid, but serviceable. @ckwongloy.">

    <!-- <meta name="viewport" content="width=device-width, maximum-scale=1.0"> -->

    <title>
        {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>

    <link rel="shortcut icon" href="/assets/image/li.ico">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/navigation-bars.css" rel="stylesheet">
    <link href="/assets/css/general.css" rel="stylesheet">
    <link href="/assets/css/nbtsp-breadcrumb.css" rel="stylesheet">
    <link href="/assets/css/font.css" rel="stylesheet">

</head>
