<head>

<meta charset="utf-8">
<meta name="Keywords" content="lamChuanJiang, Chuanjiang Li">
<meta name="Description" content="Keep it simple, stupid, but serviceable. @lamChuanJiang.">
<!-- <meta name="viewport" content="width=device-width, maximum-scale=1.0"> -->

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<link rel="shortcut icon" href="./image/li.ico">

<link href="/css/bootstrap.min.css"  rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/navigation-bars.css" rel="stylesheet">
<link href="/css/general.css" rel="stylesheet">
<link href="/css/nbtsp-breadcrumb.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet"></head>
