<!-- nbtsp-breadcrumb 表示不是 Bootstrap 的默认面包屑导航 -->

<div id="nbtsp-breadcrumb">
<ul class="nbtsp-breadcrumb">

<li id="Pointer">
<a href="https://github.com/lamChuanJiang/lamchuanjiang.github.io/wiki" target="_blank" title="Point to the most often used website.">
<i class="fa fa-hand-pointer-o"></i>
<span class="text"> Pointer</span></a></li>

<li id="GitHub">
<a href="https://github.com/lamChuanJiang" target="_blank" title="Fork @lamChuanJiang on GitHub">
<span class="fa fa-github-alt"></span>
<span class="text"> GitHub</span></a></li>

<li id="Contacts">
<a href="/contact_li.html" title="Chuanjiang Li's Contacts and SNS Footprints">
<span class="fa fa-envelope"></span>
<span class="text"> Contacts</span></a></li>

<li id="Resume">
<a href="/resume_zh.html" title="个人简历">
<span class="fa fa-user"></span>
<span class="text"> Resume</span></a></li>

<li id="About" title="关于我">
<a href="/about_li_zh.html">
<span class="fa fa-info-circle"></span>
<span class="text"> About</span></a></li>

<li id="Skills">
<a href="/skills.html" title="Skills Detail">
<span class="fa fa-code"></span>
<span class="text"> Skills</span></a></li>

<li id="Blog">
<a href="/blog.html" title="Blog Entry">
<span class="fa fa-edit"> Blog Entry</span></a></li>

<li id="Start">
<a href="/index.html" title="Start">
<i class="fa fa-map-signs"></i>
<span class="text"> Start</span></a></li>

</ul></div>
