<!-- nbtsp-breadcrumb 表示不是 Bootstrap 的默认面包屑导航 -->

<div id="nbtsp-breadcrumb">
<ul class="nbtsp-breadcrumb">

<li id="Pointer">
<a href="https://github.com/lamChuanJiang/Pointer/blob/gh-pages/README.wiki" target="_blank">
<i class="fa fa-hand-pointer-o"></i>
<span class="text"> Pointer</span></a></li>

<li id="GitHub">
<a href="https://github.com/lamChuanJiang" target="_blank" title="Fork @lamChuanJiang on GitHub">
<span class="fa fa-github-alt"></span>
<span class="text"> GitHub</span></a></li>

<li id="Contacts">
<a href="/contact_li.html">
<span class="fa fa-envelope"></span>
<span class="text"> Contacts</span></a></li>

<li "Resume">
<a href="/resume_zh.html">
<span class="fa fa-user-md"></span>
<span class="text"> Resume</span></a></li>

<li id="About">
<a href="/about_li_zh.html">
<span class="fa fa-info-circle"></span>
<span class="text"> About</span></a></li>

<li id="Skills">
<a href="/skills.html">
<span class="fa fa-code"></span>
<span class="text"> Skills</span></a></li>

<li id="Blog">
<a href="/blog.html">
<span class="fa fa-edit"> Blog</span></a></li>

<li id="Start">
<a href="/start.html">
<i class="fa fa-map-signs"></i>
<span class="text"> Start</span></a></li>

</ul></div>
