<head>

<meta charset="utf-8">
<meta name="Keywords" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}, lamChuanJiang.">
<meta name="Description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}. @lamChuanJiang. Quiter you be, more you hear.">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} @lamChuanJiang</title>

<link rel="shortcut icon" href="/image/li.ico">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/github-light.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">

<style type="text/css">

	/* Back to top*/

	#back-to-top {
		font-size: 60px;
		position: fixed;
		bottom: 7em;
		right: 1px;
		text-decoration: none;
		color: #e2e2e2;
		/*background-color: #BBBBBB;*/
		padding: 1em;
		display: none;
	}

	#back-to-top:hover {
		font-size: 60.5px;
		color: #fff;
		/*background-color: #C8C8C8;*/
	}
</style>

</head>
