<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | by @lamChuanJiang</title>
<meta name="Keywords" content="lamChuanJiang, Chuanjiang Li, blog, post">
<meta name="Description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}, lamChuanJiang's Blog post, Chuanjiang Li's blog post, by lamChuanJiang, by Chuanjiang Li">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/github-light.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<style type="text/css">

	/* Back to top*/

	#back-to-top {
		font-size: 100px;
		position: fixed;
		bottom: 10em;
		right: 5px;
		text-decoration: none;
		color: #4B76AF;
		background-color: #BBBBBB;
		font-size: 16px;
		padding: 1em;
		display: none;
	}

	#back-to-top:hover {
		color: white;
		background-color: #C8C8C8;
	}
</style></head>