<a href="#top" id="back-to-top" title="返回顶层" style="margin-bottom:5px;">
<i class="fa fa-arrow-circle-o-up"></i></a>
<a href="#bottom" id="back-to-bottom" title="跳至底部" style="margin-top:5px;">
<i class="fa fa-arrow-circle-o-down"></i></a>

<section class="main-content" style="font-family:Georgia;text-align:center;color:#E2E2E2;">

<p>
本文最后修改时间：
{{ page.latest }}
<span style="font-size:22px;"><b><i>（完）</i></b></span>
<span style="padding:0 20px 0 0;"><code><i class="fa fa-creative-commons"> CC BY-NC-ND 3.0</i></code></span>
<a href="" name="bottom"></a>
</p>

<p style="font-size:16px;font-family:'Comic Sans MS';">
<b>
<i class="fa fa-heart"></i>
若您发现文章中的错误，并愿告知于我，或想与我交流，我的联系方式在：
<a href="/contact_li.html" title="Li's Contacts and SNS Footprints">
Contacts
</a></b></p>

<hr>

<p style="text-align:left;margin-left:70px;">
<b style="color:#F3F6FA;">上一篇</b>
<i class="fa fa-arrow-up"></i>
{% if page.previous %}
<a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" style="color:#fff";>
<i>{{ page.previous.title | strip_html | truncate:40 }}</i></a>
{% else %}
<i>无</i>
{% endif %}

<p style="text-align:right;margin:-30px 70px 0 0;">
<a href="/home/" title="All The Best" style="padding:0 5px 0 10px;">	
<img src="/image/love.png" style="width:40px;height:30px;border-radius:100%;" alt="All The Best"></a></p>

<p style="text-align:left;margin:-15px 0 0 70px;">
<b style="color:#F3F6FA;">下一篇</b>
<i class="fa fa-arrow-down"></i>
{% if page.next %}
<a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}" style="color:#fff;">
<i>{{ page.next.title | strip_html | truncate:40 }}</i></a>
{% else %}
<i>无</i>
{% endif %}
</p>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jump-to.js"></script>
</section>
