<div style="background:#0C1021;text-align:center;margin-top:5px;">

{% include header.html %}

</div>

<header class="post-header" style="text-align:center;font-family:Georgia;">
<div class="wrapper">
<a href="" name="top"></a>
<h1 class="post-title">
{{ page.title }}
</h1>
<p  class="post-meta">
<i class="fa fa-heart"></i>
<a href="https://github.com/lamChuanJiang" target="_blank" title="Author：@lamChuanJiang">
{% if site.id %}
{{ site.id }}
{% endif %}
</a>
<i class="fa fa-calendar"></i>
<a href="/archive.html#{{ page.date | date: "%Y-%m" }}" title="Archive：{{ page.date | date: "%Y-%m" }}">
{% assign d = page.date | date: "%-d" %} 
{{ page.date | date: "%b" }}.
{% case d %}
{% when '1' or '21' or '31' %}
{{ d }}st
{% when '2' or '22' %}{{ d }}nd
{% when '3' or '23' %}{{ d }}rd
{% else %}{{ d }}th
{% endcase %}, 
{{ page.date | date: "%Y, %a" }}.
</a>
<i class="fa fa-folder"></i>
<a href="/category.html#{{ page.categories[0] }}" title="Category：{{ page.categories[0] }}">
<b>
{{ page.category }}
</b></a>
<i class="fa fa-tags"></i>
<i>
<b>
{% for tag in page.tags %}
<a href="/tag.html#{{ tag }}" title="Tag：{{ tag }}" style="background:#BFD9DB; margin:2px;">
<i>
{{ tag }}
{{ tag | last }}
</i></a>
{% endfor %}
</b></i>
<i class="fa fa-pencil"></i>
<a title="本文字数：{{ page.content | number_of_words }}">
{{ page.content | number_of_words }}
</a></p></div></header>