<div style="background-image: linear-gradient(120deg, #272822, #F1F1F1);text-align:center;margin-top:5px;">
    {% include header.html %}
</div>

<a href="#" name="top"></a>

<header class="post-header" style="text-align:center;font-family:Georgia;">
    <div class="wrapper" style="padding:20px 0 0 0;">
        <div style="background-color:white;border:1px solid #8A8B88;border-bottom:none;">
        <h1 class="post-title" style="margin:0 5px 0 5px;padding:10px 0 10px 0;">
            {{ page.title }}
        </h1>
        <p class="post-meta">
        <i class="fa fa-heart"></i>
        <a href="https://github.com/ckwongloy" target="_blank" title="Author：@ckwongloy">
            {% if site.id %}
            {{ site.id }}
            {% endif %}
        </a>
        <i class="fa fa-calendar"></i>
        <a href="/home/archive.html#{{ page.date | date: "%Y-%m" }}" title="Archive：{{ page.date | date: "%Y-%m" }}">
            {% assign d = page.date | date: "%-d" %}
            {{ page.date | date: "%b" }}.
            {% case d %}
            {% when '1' or '21' or '31' %}
            {{ d }}st
            {% when '2' or '22' %}{{ d }}nd
            {% when '3' or '23' %}{{ d }}rd
            {% else %}{{ d }}th
            {% endcase %},
            {{ page.date | date: "%Y, %a" }}.
        </a>
        <i class="fa fa-folder"></i>
        <a href="/home/category.html#{{ page.categories[0] }}" title="Category：{{ page.categories[0] }}">
            <b>
            {{ page.category }}
            </b>
        </a>
        <i class="fa fa-tags"></i>
        <i>
            <b>
            {% for tag in page.tags %}
            <a href="/home/tag.html#{{ tag }}" title="Tag：{{ tag }}" style="background:#BFD9DB; margin:2px;border-radius:40%;">
                <i>
                    {{ tag }}
                    {{ tag | last }}
                </i>
            </a>
            {% endfor %}
            </b>
        </i>
        <i class="fa fa-pencil"></i>
        <a title="本文字数：{{ page.content | number_of_words }}">
            {{ page.content | number_of_words }}
        </a>
        </p>
        </div>
    </div>
</header>
