<!DOCTYPE html>

<!--[if IE 7 ]>    <html lang="zh" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="zh" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="zh" class="ie9">    <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->    <html lang="zh">    <!--<![endif]-->

{% include head.html %}

<body>

{% include nbtsp_breadcrumb.html %}

{{ content }}

{% include footer.html %}

<script src="/assets/js/jquery-2.1.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- 折叠组 -->
<script type="text/javascript">
	$(function () { $('#collapseOne').collapse({
	toggle: true
	})});
	$(function () { $('#collapseTwo').collapse('hide')});
	$(function () { $('#collapseThree').collapse('hide')});
	$(function () { $('#collapseFour').collapse('hide')});
	$(function () { $('#collapseFive').collapse('toggle')});</script>
<!-- 工具提示 -->
<script>
   $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>


</body></html>