<!DOCTYPE html>

<!--[if IE 7 ]>    <html lang="zh" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="zh" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="zh" class="ie9">    <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->    <html lang="zh">    <!--<![endif]-->

<head>
	
<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/normalize.css" media="screen">
<link rel="stylesheet" href="/css/stylesheet.css" media="screen">
<link rel="stylesheet" href="/css/github-light.css" media="screen"></head>

<body>

{{ content }}

</body></html>
